$logo-path: "http://ecode.no/adapt/showcases/groceries/logo.svg" !default;
$logo-aspect: 37% !default;
.logo {
    &:before {
        content: '';
        display:block;
        padding-bottom: $logo-aspect;
        @include background-image( inline-image( $logo-path ), bottom );
    }
}
