$navigation-item-margin: 0 0 .5em 0 !default;
$navigation-item-padding: .3em !default;
$navigation-item-background-color: #000 !default;
$navigation-item-border-thickness: .1em !default;
$navigation-item-border-color: white !default;
$navigation-item-opacity: .2 !default;
$navigation-item-opacity-active: .5 !default;
$navigation-item-transition-speed: .3s !default;

.navigation {
    text-align: center;

    &__item {

        cursor: pointer;

        transition: all $navigation-item-transition-speed;
        padding: $navigation-item-padding;
        margin: $navigation-item-margin;
        border-radius: 50%;
        display: inline-block;
        opacity: $navigation-item-opacity;
        border: $navigation-item-border-thickness solid $navigation-item-border-color;
        background: $navigation-item-background-color;

        &.is-active {
            opacity: $navigation-item-opacity-active;
        }
    }
}
