$price-background-color: #ed1b2d !default;
$price-font-size: $font-size*2.7;
$price-width: 35%;
$price-bomb-aspect: 70%;

.price {
    @include bomb( $price-bomb-aspect );
    width: $price-width;

    border-radius: 50%;

    background-color: $price-background-color;
    color: white;

    font-size: $price-font-size;

    position: absolute;
    bottom: 0;
    right: 0;

    &__save {
        text-decoration: line-through;
    }

}
