.price {
    @include bomb( 70% );
    width: 35%;

    border-radius: 50%;

    background-color: #962829;
    color: white;

    font-size: $font-size*2.7;

    position: absolute;
    bottom: 0;
    right: 0;

    &__save {
        text-decoration: line-through;
    }

}
