$price-background-color: #ed1b2d !default;
$price-font-size: $font-size*3.7;
$price-width: 35%;
$price-bomb-aspect: 70%;
$price-font: "Teko";

// Import Google font
@import url( "https://fonts.googleapis.com/css?family=#{str-replace($price-font, " ", "+")}" );

.price {

    // Set font family to google font
    font-family: $price-font;

    // Add rounded background
    @include bomb( $price-bomb-aspect );

    // Sizing
    width: $price-width;
    font-size: $price-font-size;

    // Add some space above text
    // (This is needed to this google font, and is in most cases not needed)
    padding-top: 1.5%;

    // Added round edges on background
    border-radius: 50%;

    // Coloring
    background-color: $price-background-color;
    color: white;

    // Move to bottom right
    position: absolute;
    bottom: 0;
    right: 0;

    // Price tag in description
    &__save {
        text-decoration: line-through;
    }

}
