.grid {
    display:flex;
    &.is-vertical {
        flex-direction: column;
    }
    &.is-vcentered {
        align-items: center;
    }
    &.is-vbottom {
        align-items: flex-end;
    }

    .column {
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        &.is-narrow {
            flex: none;
        }


        &.is-filled {
            position: relative;
            & > * {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }
}
