@mixin bomb( $ratio: 100% ) {
    @if $ratio {
        &:before {
            content: '';
            display: block;
            padding-bottom: $ratio;
        }
    }
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
