// $banner-background: #F5F5F5;
// $banner-background: inline-image( '../assets/images/background.jpg' );
$banner-background: red;
$footer-background: transparent;
// $black-color: #2a2f32;

// Product


$margin: 6%;

$font-size: 3.5vw;


$is-instore-tv: false;
