/*
 * Set variables to everything you want to overwrite here
 * Every variable width a !default value will be overwritten
 */

$banner-background: $priceco-blue-gradient !default;

$margin: 6%;
$font-size: 3.5vw;
