// $banner-background: inline-image( '../assets/images/background.jpg' );
$banner-background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(141,198,236,1) 100%);
$footer-background: transparent;
$logo-path: 'http://static1.squarespace.com/static/57c02e0a4402430af25d6166/57c4b9a2197aeaea690e70c0/587fdb8246c3c4bd046525ad/1484774425188/acme.png?format=1000w';

$margin: 6%;

$font-size: 3.5vw;
